body
{
	background-color: black;
	font-family: segoe print;
	font-size: 20px;
	color: black;
	
}

h1
{
	font-size: 48px;
	color: #00FFFF;
}

h2
{
	font-size: 20px;
	color: black;
	font-family: segoe script;
}

h3
{
	font-size: 30px;
	color: white;
	font-family: verdana;
}